@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfdff0;
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "cirucular-web";
    src: url("/fonts/cirucularweb-book.woff2") format("woff2");
  }
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }
  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.wof2") format("woff2");
  }
  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.wof2") format("woff2");
  }
}
